.search-form{
    float: right;
}

.search-form #summoner{
    width: 400px;
}

.invalid-feedback{
    position: absolute;
    top: 45px;
    width: auto;
}

.presentationSite{
    height: 925px;
    margin-bottom: 0;
}

.summonerContent{
    background: url("./assets/background/yone.jpg") no-repeat center center fixed;
    height: 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Navbar */
.navbar{
    height: auto;
    background-color: rgba(111, 12, 196, 0.5);
}