@media (max-width: 991px) {
    .iconContainer {
        width: 150px;
        height: 150px;
        margin-top: 50px;
    }

    .profileIcon {
        top: 33px;
    }

    .summonerLevel {
        left: 51px;
        bottom: 5px;
    }

    .summonerName {
        font-size: 110%;
    }

    .content {
        margin-left: 150px;
    }

    .avatar span{
        display:none;
    }

    .avatar img {
        height: 35px;
    }
}

@media (max-width: 575px){
    /* --- Summoner Info Sidebar --- */
    .sidebar {
        position: static;
        height: 100px;
        padding-top: 0;
    }

    .iconContainer{
        width: 100px;
        height: 100px;
        margin: 0;
        float: left;
    }

    .levelBorder{
        display:none;
    }

    .profileIcon{
        top: 25px;
        border-radius: 0%;
        width: 100px;
        height: 100px;
        position: static;
    }

    .summonerLevel{
        display:none;
    }

    .sidebar > .summonerName{
        display:none;
    }

    .mobileInfo{
        display:block;
    }

    /* --- Tab Content w/ Summoner Masteries --- */

    .content{
        margin-left: 0;
    }

    .avatar{
        display: none;
    }
}


@media (max-width: 450px){
    /* --- Search Form --- */
    .search-form #summoner{
        width: auto!important;
    }


}