@media (max-width: 991px){
    /* --- Summoner Info Sidebar --- */
    .sidebar {
        position: static;
        height: auto;
        padding-top: 0;
    }

    .iconContainer{
        width: 110px;
        height: 110px;
        margin: 5px 0;
        float: left;
    }

    .profileIcon{
        top: 25px;
    }

    .summonerLevel{
        display:none;
    }

    .sidebar > .summonerName{
        display:none;
        /*position: absolute;*/
        /*top: 70px;*/
        /*right: 10px;*/
    }

    .mobileInfo{
        display:block;
    }

    /* --- Tab Content w/ Summoner Masteries --- */

    .content{
        margin-left: 0;
    }

    .avatar{
        display: none;
    }
}

@media (max-width: 450px){
    /* --- Search Form --- */
    .search-form #summoner{
        width: auto!important;
    }
}