@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

.sidebar{
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
    padding-top: 20px;
}

.content {
    padding-left: 200px;
}

.iconContainer{
    width: 350px;
    height: 350px;

    position: relative;
    margin: auto;
    text-align: center;
}

.summonerName{
    font-family: 'Rowdies', cursive;
    font-size: 300%;
    text-align: center;
}

.profileIcon{
    position: relative;
    top: 80px;
    left: 0;
    width: 55%;
    height: 55%;
    border-radius: 50%;
}

.levelBorder {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.summonerLevel {
    font-weight: bold;
    color: white;
    position: absolute;
    left: 151px;
    bottom: 46px;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

/* [Table] */
.avatar img{
    height: 50px;
}

table.masteries {
    margin-left:auto;
    margin-right:auto;
    width: 70%;
}

.masteries th, .masteries td {
     padding: 0.25rem;
     vertical-align: middle;
     border-top: 1px solid #dee2e6;
}